/**
 * COLORS
 */
// primary color
$blue--black: #0d1555;
$blue--slate: #4c5f77;
$blue--slate_2: #566a83;
$blue--night: #041648;
$blue--medium: #2e5bd2;
$blue--darkish: #023a78;


// Texts color
$text: $blue--slate;


$white: #fff;
$black: #000;
